<div class="place place-list">
    <div class="place-cover">
        <img src="" alt="">

    </div>

    <div class="place-title-container">
        <h2 class="place-title">kjdfjhf\hj\fhj\</h2>
    </div>

    <div class="place-author">
        <span class="place-author-item">
            <i class="fas fa-user"></i>
            Lucas
        </span>
        <span class="place-author-item">
            <i class="fas fa-calendar-alt"></i>
            13/10/2022
        </span>
        <span class="place-author-item">
            <a href="/recipes/category/cafe-da-manha">
                <i class="fas fa-user"></i>
                <span> Café</span>
            </a>
        </span>
    </div>

    <div class="place-content">
        <p>
            jhashdFJhfkjhfhkjadshf
        </p>
    </div>

    {% if detail_page is not True %}
    <footer class="place-footer">
        <a class="place-read-more button button dark button full-width" href="/recipes/3/">
            <i class="fas fa-eye"></i>
            <span>Ver mais...</span>
        </a>
    </footer>
    {% endif %}
</div>